@font-face {
	font-family: "SimSun";
	src: url("../res/font/REDUCED_SimSun.ttf");
}

* {
	font-family: "SimSun", serif;
}

a, h1 {
	color: #36849b;
}

a:hover {
	color: #ba5da7;
}

body {
	background-image: url("../res/img/vaporhead_bg.gif");
	background-repeat: repeat;
	background-attachment: fixed;
}


div#title img {
	display: block;
	margin: 0 auto;
}

div#header {
	display: table;
	width: 50%;
	table-layout: fixed;
}

div#title, div#header, div#container {
	margin-left: 25%;
	margin-right: 25%;
}

div#header, div#container {
	background-color: #1b1a16;
	color: #acbccc;
}

div#header div {
	display: table-cell;
	border: groove #acbccc;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}

div#container {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 30px;
	border: groove #acbccc;
}

@media screen and (max-width: 1400px) {
	div#header {
		width: 70%;
	}
	div#title, div#header, div#container {
		margin-left: 15%;
		margin-right: 15%;
	}
}

@media screen and (max-width: 700px) {
	div#header {
		width: 90%;
	}
	div#title, div#header, div#container {
		margin-left: 5%;
		margin-right: 5%;
	}
}
