<h1>&lt; Welcome &gt;</h1>
<p>Welcome to my website! I’m Bufan. I’m a software developer, and computer engineering student at the University of Waterloo. I got into coding when I was in highschool in 2014. Since then, I’ve gained a lot of  experience through school, co-op and personal projects, and now I’ve got many skills and techniques under my belt. In my spare time, I enjoy coding, playing sports, gaming and playing piano.</p>
<!-- <h1>&lt; Recent &gt;</h1>
<p>Duis dolor sem, tincidunt eu enim vitae, accumsan imperdiet quam. Pellentesque vel ante in tellus tristique pretium
    eget eget ex. Sed et velit non mi ullamcorper venenatis. In orci dolor, porttitor non vulputate vel, hendrerit sed
    magna. Ut sodales sagittis volutpat. Phasellus consectetur massa a tortor tristique tempor. Cras tempor odio sed
    diam vestibulum, eget molestie enim suscipit. Proin rutrum non magna in imperdiet. Cras at imperdiet arcu. Aenean
    gravida est ac ante euismod feugiat. Ut arcu risus, tristique vel cursus ac, tincidunt nec risus. Aliquam feugiat
    ante eu vulputate mollis. Vestibulum eu molestie quam. Donec lectus ante, facilisis id rhoncus nec, finibus quis
    enim.</p>
<p>Duis dolor sem, tincidunt eu enim vitae, accumsan imperdiet quam. Pellentesque vel ante in tellus tristique pretium
    eget eget ex. Sed et velit non mi ullamcorper venenatis. In orci dolor, porttitor non vulputate vel, hendrerit sed
    magna. Ut sodales sagittis volutpat. Phasellus consectetur massa a tortor tristique tempor. Cras tempor odio sed
    diam vestibulum, eget molestie enim suscipit. Proin rutrum non magna in imperdiet. Cras at imperdiet arcu. Aenean
    gravida est ac ante euismod feugiat. Ut arcu risus, tristique vel cursus ac, tincidunt nec risus. Aliquam feugiat
    ante eu vulputate mollis. Vestibulum eu molestie quam. Donec lectus ante, facilisis id rhoncus nec, finibus quis
    enim.</p>
<p>Duis dolor sem, tincidunt eu enim vitae, accumsan imperdiet quam. Pellentesque vel ante in tellus tristique pretium
    eget eget ex. Sed et velit non mi ullamcorper venenatis. In orci dolor, porttitor non vulputate vel, hendrerit sed
    magna. Ut sodales sagittis volutpat. Phasellus consectetur massa a tortor tristique tempor. Cras tempor odio sed
    diam vestibulum, eget molestie enim suscipit. Proin rutrum non magna in imperdiet. Cras at imperdiet arcu. Aenean
    gravida est ac ante euismod feugiat. Ut arcu risus, tristique vel cursus ac, tincidunt nec risus. Aliquam feugiat
    ante eu vulputate mollis. Vestibulum eu molestie quam. Donec lectus ante, facilisis id rhoncus nec, finibus quis
    enim.</p> -->
